#container {
	margin: 50px 0 0 0;
	text-align: center;
}

#text {
	display: inline-block;
    color: #FFDF00;
    font-size: 40px;
    font-weight: 800;
}

/* #section1 {
    background-image:url("./images/myimage.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
} */

.section {
    width: 100%;
    overflow:auo;
    }
    
    .fleft {
        float:left; 
        width: 50%;
        height: 100%;
    }
    
    .fright {
        float: right;
        width: 50%;
        height: 100%;
    }

    .left_map {
        float:left; 
        width: 65%;
        height: 100%;
    }

    .right_detail {
        float: right;
        background-image: url("./images/contact1.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 35%;
        height: 100%;
    }

    .border {
        margin: 20px;
    }

    .text_title {
      font-size: 50px;
      font-weight: bold;
      color: #566573;
      margin-bottom: 10px;
    }

    .description {
    font-size: 20px;
    font-weight: bold;
    color: #212F3C;
    }


    