#container {
	/* margin: 50px 0 0 0; */
	text-align: center;
}

#text {
	display: inline-block;
    color: #342222;
    font-size: 40px;
    font-weight: 800;
}

#section1 {
    background-image: url("./images/back9.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

#section4 {
    background-image: url("./images/img3.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

.myheader {
    height: 10%;
    width: 100%;
    background-color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;}

.mydata {
    height: 90%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section {
    height: 100%;
    width: 100%;
    overflow:auo;
    }

    .nav_left {
        float:left; 
        width: 15%;
        height: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #c99914;
        font-weight: bold;
        font-size: 16px;
        cursor: pointer;
    }

    .nav_center {
        float: center; 
        width: 70%;
        height: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .nav_right {
        float: right; 
        width: 15%;
        height: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-left: 100px;
    }

    .fleft {
        float:left; 
        width: 50%;
        height: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .fright {
        float: right;
        width: 50%;
        height: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .skill_fleft {
        float:left; 
        width: 40%;
        height: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .skill_fright {
        float: right;
        width: 60%;
        height: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .left_map {
        float:left; 
        width: 55%;
        height: 100%;
    }

    .right_detail {
        float: right;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* background-image: url("./images/contact1.png");
        background-repeat: no-repeat;
        background-size: cover; */
        width: 45%;
        height: 100%;
    }

    .border {
        margin: 20px;
    }

    #section1 img {
        margin: 0px;
        /* opacity: 0.7; */
    }

    .question {
        font-size: 46px;
        font-family: cursive;
        font-weight: bold;
        color: saddlebrown;
        margin-bottom: 26px;
    }
/* 
    .text_title {
      font-size: 40px;
      font-weight: bold;
      color: #566573;
      margin-bottom: 10px;
    } */

    .description {
        font-size: 20px;
        font-weight: bold;
        color: #212F3C;
        margin: 20px;
    }

    .contact {
        font-size: 22px;
        font-weight: bold;
        margin: 16px 44px 36px 44px;
        color: #545955;
    }


.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:80%;
	background:#eee;
	height:35px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
    width:110px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:35px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}

/* .top_line {
    width: 100%;
    height: 100%;
    color: #342222;
    font-size: 26px;
    font-weight: bold; 
}

.text {
    margin: 50px;
    padding-top: 50px;
    text-align: start;
} */



.button {
    display: inline-block;
    border-radius: 4px;
    background-color: black;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    height: 100%;
    width: 110px;
    font-weight: bold;
    transition: all 0.5s;
    cursor: pointer;
    outline: none;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 16px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
    











/* side bar css */
#sidenav-toggle img {
    background-color: #000000;
  }
  #sidenav-toggle img:hover {
      background-color: #00A7E8;
  }
  #sidenav-toggle img {
      -webkit-transition: background-color 0.25s ease-in-out;
      transition: background-color 0.25s ease-in-out;
      padding: 10px 8px;
      padding: 1rem 0.8rem;
  }
  #sidenav-toggle {
      position: absolute;
      border: none;
      background: transparent;
      font-size: 16px;
      font-family: 'nimbus-sans-condensed', sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      color: #fff;
  }
  .ct-sidenav.open {
      right: 0;
  }
  .ct-sidenav {
     width: 40%;
      height: 100%;
      position: fixed;
      z-index: 9990;
      top: 0;
      right: -40%;
      opacity: 0.5;
      background: #000000;
      /* padding: 75px 0 20px;
      padding: 7.5rem 0 2rem; */
      overflow-x: hidden;
      overflow-y: auto;
      -webkit-transition: right 0.25s ease-in-out;
      transition: right 0.25s ease-in-out;
      color: #b7b6b6;
  }
  .ct-sidenav .close {
      position: absolute;
      top: 7px;
      top: 0.7rem;
      right: 15px;
      right: 1.5rem;
      text-shadow: none;
      color: #fff;
      -webkit-transition: color 0.2s ease-in-out;
      transition: color 0.2s ease-in-out;
      font-size: 80px;
      font-size: 8rem;
      opacity: 1;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      font-weight: lighter;
  }
  .ct-sidenav .inner {
      padding-left: 65px;
      padding-left: 6.5rem;
  }
 