#container {
	margin: 50px 0 0 0;
	text-align: center;
}

#text {
	display: inline-block;
    color: #342222;
    font-size: 40px;
    font-weight: 800;
}

#section1 {
    background-image: url("./images/back1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.section {
    width: 100%;
    overflow:auo;
    }
    
    .fleft {
        float:left; 
        width: 50%;
        height: 100%;
    }
    
    .fright {
        float: right;
        width: 50%;
        height: 100%;
    }

    .left_map {
        float:left; 
        width: 55%;
        height: 100%;
    }

    .right_detail {
        float: right;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* background-image: url("./images/contact1.png");
        background-repeat: no-repeat;
        background-size: cover; */
        width: 45%;
        height: 100%;
    }

    .border {
        margin: 20px;
    }

    .text_title {
      font-size: 50px;
      font-weight: bold;
      color: #566573;
      margin-bottom: 10px;
    }

    .description {
    font-size: 20px;
    font-weight: bold;
    color: #212F3C;
    }

    .contact {
        font-size: 22px;
        font-weight: bold;
        margin: 16px 44px 36px 44px;
        color: #545955;
    }


    